{% extends 'base.html' %}

{% block content %}
<h2>Exercício 6</h2>
<p><strong>Pergunta:</strong> {{ question }}</p>

<table border="1">
    <thead>
        <tr>
            <th>Nome do Ator</th>
            <th>Nº de Participações</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            <td>{{ row.person_name }}</td>
            <td>{{ row.participations }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="/">Voltar ao Início</a>
{% endblock %}